<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- 載入Vue框架 -->
  <script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
  <!-- 引用Bootstrap CSS Style -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <style>
    tr,
    td,
    th {
      border-width: 1px;
    }

    .bg-weekend-th {
      background-color: rgb(167, 107, 107);
    }

    .bg-normal-th {
      background-color: rgb(71, 121, 121);
    }

    .bg-weekend-td {
      background-color: rgb(199, 129, 129);
    }

    .bg-normal-td {
      background-color: rgb(86, 151, 151);
    }

    .bg-anotherMonth {
      background-color: rgb(116, 113, 113);
    }

    .clickLeft {
      position: absolute;
      left: 5%;
    }

    .clickRight {
      position: absolute;
      right: 5%;
    }

    .clickUp {
      position: absolute;
      top: 5%;
    }

    .clickDown {
      position: absolute;
      bottom: 5%;
    }
  </style>
</head>

<body>
  <div id="app" style="height: 100vh;">
    <div class="calendar h-100 d-flex justify-content-center align-items-center text-center position-relative">
      <span class="clickLeft" @click="clickLeft">左</span>
      <span class="clickRight" @click="clickRight">右</span>
      <span class="clickUp" @click="clickUp">上</span>
      <span class="clickDown" @click="clickDown">下</span>
      <table class="w-75 h-75" style="border:3px #cccccc solid;" cellpadding="10" border="1">
        <tr>
          <th class="text-center" colspan="7" style="background-color: antiquewhite;">西元{{year}}年{{month}}月</th>
        </tr>
        <tr>
          <th class="bg-weekend-th">禮拜日</th>
          <th class="bg-normal-th">禮拜一</th>
          <th class="bg-normal-th">禮拜二</th>
          <th class="bg-normal-th">禮拜三</th>
          <th class="bg-normal-th">禮拜四</th>
          <th class="bg-normal-th">禮拜五</th>
          <th class="bg-weekend-th">禮拜六</th>
        </tr>
        <template v-for="(items, index) in dateArray">
          <tr>
            <template v-for="item in items">
              <td v-if="item.isWeekend&&item.thisMonth" class="bg-weekend-td" :id="item.date" @click="clickDate">
                <div>
                  <p>{{item.day}}</p>
                </div>
              </td>
              <td v-else-if="!item.isWeekend&&item.thisMonth" class="bg-normal-td" :id="item.date" @click="clickDate">
                <div>
                  <p>{{item.day}}</p>
                </div>
              </td>
              <td v-else class="bg-anotherMonth" :id="item.date" @click="clickDate">
                <div>
                  <p>{{item.day}}</p>
                </div>
              </td>
            </template>
          </tr>
        </template>
      </table>
      <div class="eventModal position-absolute" v-show="showModal"
        style="width: 300px;height: 300px; background-color: black;"><button @click="closeModal">關閉</button></div>
    </div>
  </div>
</body>
<!-- 引用Boostrap Script -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
  integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
  integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
<script>
  var app = new Vue({
    //載入位置
    el: '#app',
    //資料
    data: {
      year: 0,//年
      month: 0,//月
      totalDay: 0,//當月天數
      nowDay: 0,//現在日期
      firstDay: 0,//第一天是禮拜幾
      dateArray: [],//存放每個禮拜的日期
      weekendCount: 0, //總共幾個禮拜
      showModal: false //彈跳視窗預設關閉(false)
    },
    //方法
    methods: {
      //取得今天的日期資料
      getDate() {
        let getTotalDay = new Date(this.year, this.month, 0);
        this.totalDay = getTotalDay.getDate();

        let getFirstDay = new Date(this.year, this.month - 1, 1);
        this.firstDay = getFirstDay.getDay();
        this.generateArray();
      },
      //產生日期陣列
      generateArray() {
        //初始化
        this.dateArray = []
        //這個月有幾個禮拜
        this.weekendCount = this.totalDay % 7 == 0 ? this.totalDay / 7 : parseInt(this.totalDay / 7) + 1;
        //下一個月是幾年(是否跨年)
        let nextYear = this.month == 12 ? this.year + 1 : this.year;
        //下一個月是幾月(是否跨年)
        let nextMonth = this.month == 12 ? 1 : this.month + 1;
        //上一個月是幾年(是否跨年)
        let lastYear = this.month == 1 ? this.year - 1 : this.year;
        //上一個月是幾月(是否跨年)
        let lastMonth = this.month == 1 ? 12 : this.month - 1;
        //實體化上個月的時間物件
        let getLastTotalDay = new Date(lastYear, lastMonth, 0);
        //取得上個月的總天數
        let lastTotalDay = getLastTotalDay.getDate();

        for (let i = 1; i <= this.weekendCount; i++) {
          let isWeekend = true;
          let weekendArray = [];
          for (let j = (i - 1) * 7 + 1; j <= 7 * i; j++) {
            if (j % 7 == 1 || j % 7 == 0) isWeekend = true
            else isWeekend = false

            if (j <= this.firstDay) {
              //上個月的部分
              weekendArray.push({ date: `${lastYear}${lastMonth.toString().padStart(2, 0)}${(lastTotalDay - this.firstDay + j).toString().padStart(2, 0)}`, day: lastTotalDay - this.firstDay + j, thisMonth: false, isWeekend: isWeekend })
            } else if (j > this.totalDay + this.firstDay) {
              //下個月的部分
              weekendArray.push({ date: `${nextYear}${nextMonth.toString().padStart(2, 0)}${(j - this.totalDay - this.firstDay).toString().padStart(2, 0)}`, day: j - this.totalDay - this.firstDay, thisMonth: false, isWeekend: isWeekend })
            }
            else {
              //這個月的部分
              weekendArray.push({ date: `${this.year}${this.month.toString().padStart(2, 0)}${(j - this.firstDay).toString().padStart(2, 0)}`, day: j - this.firstDay, thisMonth: true, isWeekend: isWeekend })
            }
          }
          this.dateArray.push(weekendArray);
        }
      },
      //點擊日期
      clickDate() {
        this.showModal = true
      },
      //關閉彈跳視窗
      closeModal() {
        this.showModal = false
      },
      //上個月
      clickLeft() {
        if (this.month == 1) {
          this.year--;
          this.month = 12;
        } else {
          this.month--;
        }
        this.getDate();
      },
      //下個月
      clickRight() {
        if (this.month == 12) {
          this.year++;
          this.month = 1;
        } else {
          this.month++;
        }
        this.getDate();
      },
      //去年
      clickUp() {
        this.year--
        this.getDate();
      },
      //今年
      clickDown() {
        this.year++
        this.getDate();
      }
    },
    //運算
    computed: {

    },
    //監聽
    watch: {
    },
    created() {
      //載入時先預設取得當天資料
      let date = new Date();
      this.year = date.getFullYear();
      this.month = date.getMonth() + 1;
      this.nowDay = date.getDate();
      this.getDate()
    }
  })
</script>

</html>