<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>工作紀錄登記</title>
  <!-- 載入Vue框架 -->
  <script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
  <!-- 引用Bootstrap CSS Style -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />
  <!-- 引用Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <!-- 引用FontAwesome -->
  <script src="https://kit.fontawesome.com/aaacc8f3a5.js" crossorigin="anonymous"></script>
  <style>
    body{
      background-color: #78bdfffa;
      font-family: 'Roboto', sans-serif;
    }
    input{
      border: none;
    }
    p {
      font-size: 2rem;
    }

    textarea {
      resize: none;
    }

    input,
    select {
      height: 30px;
      margin-bottom: 0.3rem;
      max-width: 80%;
    }

    .input,
    hr {
      width: 80%;
    }
    .notice{
      padding-top: 1rem;
      border-top: 1px solid gray;
    }
    .itemArea,
    .input,
    .radios,
    .item {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-wrap: wrap;
    }

    .itemArea,
    .item {
      margin-bottom: 0.3rem;
    }

    .radio {
      display: flex;
      align-items: center;
      margin: 0 0.3rem;
    }

    .options {
      position: absolute;
      bottom: -12rem;
      background-color: antiquewhite;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 13rem;
      overflow: scroll;
      bottom: -12rem;
      z-index: 2;
    }

    .searchArea {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -45%);
      height: 80vh;
      width: 80vw;
      background-color: antiquewhite;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
      padding: 1rem;
      overflow: scroll;
      z-index: 2;
    }

    table {
      min-width: 100%;
    }

    tbody,
    td,
    tfoot,
    th,
    thead,
    tr {
      border: 1px black solid;
      padding: 1px;
      background-color: #d1cece;
    }

    td {
      padding: 2px 4px;
      word-break: keep-all;
    }

    .dateInput {
      width: 5rem;
      text-align: center;
    }

    /* .close {
      top: 0;
      right: 0;
      background-color: #cfcfcf;
      border-radius: 100%;
      width: 30px;
      height: 30px;
    }

    .close p {
      line-height: 17px;
      font-size: 3rem;
    } */

    .btn1 button {
      width: 10rem;
      height: 3rem;
      font-size: 2rem;
      background-color: rgb(0, 252, 97);
      border: 2px solid green;
      border-top: none;
      border-left: none;
      margin-bottom: 3rem;
    }

    .pointer:hover {
      cursor: pointer;
    }

    .searchArea label {
      font-size: 2rem;
    }


    .loading {
      top: 0;
      left: 0;
      width: 99vw;
      height: 100vh;
      background-color: rgba(163, 161, 161, 0.658);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 2;
    }

    .loading p {
      font-size: 5rem;
    }

    .evenRow {
      background-color: rgb(240, 195, 136);
      text-align: justify;
      white-space: pre;
    }

    .oddRow {
      background-color: whitesmoke;
      text-align: justify;
      white-space: pre;
    }
    .search-btn{
      background-color: rgb(255, 174, 0);
      font-size: 1.3rem;
      padding: 0 1rem;
      border-top: none;
      border-left: none;
    }
  </style>
</head>

<body>
  <div id="app">
    <div class="position-relative p-5" style='height:100vh' @click='showOff'>
      <div class="loading position-absolute" v-show="loading">
        <p>上傳資料中...</p>
      </div>
      <div class="text-center position-relative" style='height:100%'>
        <h1 class="my-4 mt-0">
          每日工作紀錄<i class="fas fa-search ps-2" @click.stop="showSearch=!showSearch"></i>
        </h1>
        <p>日期&nbsp:&nbsp<input class="dateInput" type="text" v-model='year'>年<input class="dateInput" type="text"
            v-model='month'>月<input class="dateInput" type="text" v-model='day'>號</input></p>
        <div class="searchArea text-center position-absolute" v-show="showSearch" @click.stop="showSearch=true">
          <!-- <div class="close  pointer position-absolute" @click.stop="showSearch=false">
                <p>x</p>
              </div> -->
          <div class="input w-100  d-flex flex-column align-items-center">
            <p class="w-100">
              客戶資料&nbsp:&nbsp<input type="text" v-model="searchCondition" /><button class="mx-2 search-btn"
                @click.stop="clickSearch">搜尋</button>
            </p>
            <div class="radios">
              <div class="radio">
                <input type="radio" id="name" value="name" v-model="searchType" />
                <label for="name">姓名</label>
              </div>
              <div class="radio">
                <input type="radio" id="address" value="address" v-model="searchType" />
                <label for="address">地址</label>
              </div>
              <div class="radio">
                <input type="radio" id="tel" value="tel" v-model="searchType" />
                <label for="tel">電話</label>
              </div>
              <div class="radio">
                <input type="radio" id="phone" value="phone" v-model="searchType" />
                <label for="phone">手機</label>
              </div>
            </div>
          </div>
          <table v-show="searchData.length>0">
            <tr>
              <th>日期</th>
              <th>姓名</th>
              <th>地址</th>
              <th>電話</th>
              <th>手機</th>
              <th>類型</th>
              <th>項目</th>
              <th>說明</th>
              <th>金額</th>
            </tr>
            <tr v-for="(items, index) in searchData">
              <td v-for="item in items" :class='{oddRow:index%2==1, evenRow:index%2==0}'>{{item}}</td>
            </tr>
          </table>
        </div>
        <div class="container-fluid">
          <div class="row">
            <span class="notice" style="color:red">姓名和電話以及手機輸入，如有「、」「，」「 , 」上傳後將自動換行</span>
            <div class="col-12 col-lg-6">
              <div class="w-100 d-flex align-items-center flex-wrap flex-column">
                <div class="input position-relative w-100">
                  <p class="w-100">
                    姓名&nbsp:&nbsp<input type="text" v-model="parameter.name" />
                  </p>
                  <div class="options" v-show="showName">
                    <span class="p-2" v-for="item in customersTemp" @click.stop="clickName(item)">{{item[0]}}</span>
                  </div>
                </div>
                <div class="input position-relative w-100">
                  <p class="w-100">
                    地址&nbsp:&nbsp<input @click.stop="showAddress=customersTemp.length>0?true:false" type="text"
                      v-model="parameter.address" />
                  </p>
                  <div class="options" v-show="showAddress">
                    <span class="p-2" v-for="item in customersTemp" @click.stop="clickAddress(item)">{{item[1]}}</span>
                  </div>
                </div>
                <div class="input position-relative w-100">
                  <p class="w-100">
                    電話&nbsp:&nbsp<input @click.stop="showTel=customerTemp.length>0&&customerTemp[0][2]!=''?true:false"
                      type="text" v-model="parameter.tel" />
                  </p>
                  <div class="options" v-show="showTel">
                    <span class="p-2" v-for="item in customerTemp" @click.stop="clickTel(item)">{{item[2]}}</span>
                  </div>
                </div>
                <div class="input position-relative w-100">
                  <p class="w-100">
                    手機&nbsp:&nbsp<input @click.stop="showPhone=customerTemp.length>0&&customerTemp[0][3]!=''?true:false"
                      type="text" v-model="parameter.phone" />
                  </p>
                  <div class="options" v-show="showPhone">
                    <span class="p-2" v-for="item in customerTemp" @click.stop="clickPhone(item)">{{item[3]}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="w-100 d-flex align-items-center flex-wrap flex-column">
                <div class="itemArea">

                  <div class="item" v-for="(item, itemIndex) in typeInfoTemp">
                    <div class="radios">
                      <div class="radio">
                        <input type="radio" id="new" value="安裝" v-model="typeInfoTemp[itemIndex].type" />
                        <label for="new">安裝</label>
                      </div>
                      <div class="radio">
                        <input type="radio" id="fix" value="維修" v-model="typeInfoTemp[itemIndex].type" />
                        <label for="fix">維修</label>
                      </div>
                    </div>

                    <select v-model="typeInfoTemp[itemIndex].itemSelect"
                      @change='itemSelectChange(typeInfoTemp[itemIndex].itemSelect, itemIndex)'>
                      <template v-for="(item, index) in itemOption">
                        <option :disabled="index==0">{{item}}</option>
                      </template>
                    </select>
                    <select v-model="typeInfoTemp[itemIndex].secondItemSelect">
                      <template v-for="(item, index) in secondItemOption[itemIndex]">
                        <option :disabled="index==0">{{item}}</option>
                      </template>
                    </select>
                    <textarea class="overflow-hidden" v-model="typeInfoTemp[itemIndex].info" placeholder="品牌/型號/其他備註"
                      :rows="itemTextRow(itemIndex)" cols="27"></textarea>
                    <button class="btn-primary" @click.stop="typeInfo('add', itemIndex)"
                      v-if="itemIndex == 0">增加</button>
                    <button class="btn-success" @click.stop="typeInfo('reduce', itemIndex)" v-else>刪除</button>
                  </div>
                </div>
                <hr />
                <div class="input mt-4">
                  <p>
                    金額&nbsp:&nbsp<input type="text" v-model="parameter.money" />
                  </p>
                </div>
              </div>
            </div>
            <div class="btn1">
              <button @click.stop="clickConfirm">確認</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<!-- 引用axios -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- 引用Boostrap Script -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
  integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
  integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
<script>
  // var clickMap = [];
  var app = new Vue({
    //載入位置
    el: "#app",
    //資料
    data: {
      apiID: "",// 每個API的辨識ID
      showSearch: false, // 開關搜尋視窗
      searchCondition: "",// 搜尋條件
      searchType: 'name',// 搜尋類型, 預設為姓名
      searchData: [],// 撈出來的搜尋結果
      year: '',//年
      month: '',//月
      day: '',//日
      //要上傳的資料欄位
      parameter: {
        date: null,
        name: "",
        address: "",
        tel: "",
        phone: "",
        item: "",
        type: "安裝",
        info: "",
        money: ""
      },
      // 安裝維修項目暫存位置
      typeInfoTemp: [
        {
          type: "安裝",
          info: "",
          itemSelect: '',
          secondItemSelect: ''
        }
      ],
      resetData: [],// 上傳後清空資料用的空資料    
      resetType: [],//上船後清空項目用的空資料  
      customersData: [],//存取客戶名單
      customersTemp: [],//根據輸入姓名篩選出來的客戶名單
      customerTemp: [],//根據輸入姓名及地址篩選出來的客戶名單
      loading: false,//載入畫面
      showName:false,
      showAddress: false,//如果根據姓名篩選出來的客戶具備資料則顯示快選地址
      showTel: false,//如果根據姓名及地址篩出來的客戶具備資料則顯示快選家電
      showPhone: false,//如果根據姓名及地址篩出來的客戶具備資料則顯示快選手機
      itemSelect: "",//安裝維修大項目
      secondItemSelect: "",//安裝維修小項目
      itemOption: ["廚具", "瓦斯爐", "熱水器", "油煙機", "流理臺", "其他"],//大項目選項
      secondItemOption: [],//小項目預設為空, 根據大項目帶入下方選項
      stoveOption: ["項目", "檯爐", "嵌爐", "檯面爐"],
      waterOption: ["項目", "強制排氣", "自然排氣", "電熱爐"],
      noOption: ['']
    },
    //方法
    methods: {
      //按下搜尋
      clickSearch() {
        let tempCondition='';
        if(this.searchCondition==''){
          tempCondition='all'
        }else{
          tempCondition = this.searchCondition
        }
        this.apiID =
          "AKfycbylh1bnIESzgu4Re-DdqsJKz-ORn_EEB7OeKhkgrcc5MmFafrrDvOycQS3GnMDBPfKw";
        axios({
          async: true,
          method: "get",
          url: `https://script.google.com/macros/s/${this.apiID}/exec`,
          params: {
            condition: tempCondition,
            type: this.searchType
          },
          headers: {
            "Content-Type": "text/plain;charset=utf-8"
          }
        })
          .then((res) => {
            this.searchData = res.data.result;
            if (this.searchData.length <= 0) {
              alert("查無此人");
            }
            // 搜尋表格是否顯示電話手機
            //  else {
            //   let temp = [];
            //   this.searchData.forEach((item) => {
            //     item.splice(3, 2);
            //   });
            // }
          })
          .catch((err) => {
            alert("搜尋失敗");
          });
      },
      //送出資料
      clickConfirm() {
        const regx = /(,|，|、)/g //replace用的驗證, 是否為逗號或頓號
        this.loading = true;
        this.parameter.date = `${this.year}_${this.month}_${this.day}`
        let itemTemp = '';
        let typeTemp = '';
        let infoTemp = '';
        this.typeInfoTemp.forEach((item, index) => {
          if (index == 0) {
            if (item.secondItemSelect == '') {
              itemTemp += `="${item.itemSelect}"`
            } else {
              itemTemp += `="${item.itemSelect}-${item.secondItemSelect}"`
            }
            typeTemp += `="${item.type}"`
            infoTemp += `="${item.info}"`
          } else {
            if (item.secondItemSelect == '') {
              itemTemp += `&char(10)&"${item.itemSelect}"`
            } else {
              itemTemp += `&char(10)&"${item.itemSelect}-${item.secondItemSelect}"`
            }
            typeTemp += `&char(10)&"${item.type}"`
            infoTemp += `&char(10)&"${item.info}"`
          }
        })
        this.parameter.item = itemTemp
        this.parameter.info = infoTemp
        this.parameter.type = typeTemp

        this.parameter.name = `="${this.parameter.name.replaceAll(regx, '"&char(10)&"')}"`
        this.parameter.phone = `="${this.parameter.phone.replaceAll(regx, '"&char(10)&"')}"`
        this.parameter.tel = `="${this.parameter.tel.replaceAll(regx, '"&char(10)&"')}"`

        this.addNewWork();
      },
      clickName(value){
        this.tempName = value[0];
        this.parameter.name = value[0];
        this.showName = false;
      },
      //按下下拉式地址選項, value為整個data, 地址在1的位置
      clickAddress(value) {
        this.parameter.address = value[1];
        this.showAddress = false;
      },
      //按下下拉式電話選項, value為整個data, 電話在2的位置
      clickTel(value) {
        this.parameter.tel = value[2];
        this.showTel = false;
      },
      //按下下拉式手機選項, value為整個data, 手機在3的位置
      clickPhone(value) {
        this.parameter.phone = value[3];
        this.showPhone = false;
      },
      //按下送出資料後, 會再整理過再上傳
      addNewWork() {
        this.apiID =
          "AKfycbyKcBnPwW5rR39AQuFzbV-RY_vSpMqDgQK320LB4WY9KxYYsBSbIr9yFhmpvZIqNQkZ";
        axios({
          method: "post",
          url: `https://script.google.com/macros/s/${this.apiID}/exec`,
          data: this.parameter,
          headers: {
            "Content-Type": "text/plain;charset=utf-8"
          }
        })
          .then((res) => {
            this.loading = false
            alert("登錄成功");
            if (res.data.isRepeat==false) {
              alert("新客戶");
              this.getCustomers();
            }
          })
          .catch((err) => {
            this.loading = false
          })
          .finally(() => {
            this.reset()
          });
      },
      //載入頁面時取得客戶資料以便輸入時可取得快速選項
      getCustomers() {
        this.apiID =
          "AKfycbxwHbEv0poVOqKdS0J4pLPK3hyFCpE4-WJ1yNvVLyNsrZnb2VjoZPpocsq3qaOxqIlPCg";
        axios({
          async: true,
          method: "get",
          url: `https://script.google.com/macros/s/${this.apiID}/exec`,
          headers: {
            "Content-Type": "text/plain;charset=utf-8"
          }
        })
          .then((res) => {
            this.customersData = res.data.result;
            for(let i=0; i<this.customersData.length;i++){
              this.customersData[i][0]= this.customersData[i][0].replaceAll('\n',',')
              this.customersData[i][2]= this.customersData[i][2].replaceAll('\n',',')
              this.customersData[i][3]= this.customersData[i][3].replaceAll('\n',',')
            }
            alert("客戶資料讀取完成");
          })
          .catch((err) => {
            console.log("讀取失敗");
          });
      },
      // 關掉全部的提示show
      showOff() {
        this.showName = false
        this.showSearch = false
        this.showAddress = false
        this.showTel = false
        this.showPhone = false
      },
      // 送出後重整資料為空
      reset() {
        this.parameter = { ... this.resetData }
        this.typeInfoTemp = JSON.parse(JSON.stringify(this.resetType))
      },
      // 按下增加減少的動作
      typeInfo(key, index) {
        if (key == 'add') {
          this.secondItemOption.push(this.stoveOption)
          let defaultOption = this.secondItemOption[index + 1]
          const temp = {
            type: "安裝",
            info: "",
            itemSelect: this.itemOption[0],
            secondItemSelect: defaultOption[0]
          }
          this.typeInfoTemp.push(temp)
        } else if (key == 'reduce') {
          this.typeInfoTemp.splice(index, 1)
        }
      },
      //動態增減備註的欄位空間
      itemTextRow(index) {
        return 1 + this.typeInfoTemp[index].info.length / 13;
      },
      //根據大項目動態選擇品項的選項
      itemSelectChange(value, index) {
        switch (value) {
          case "瓦斯爐":
            this.secondItemOption[index] = this.stoveOption;
            break;
          case "熱水器":
            this.secondItemOption[index] = this.waterOption;
            break;
          case "油煙機":
            this.secondItemOption[index] = this.noOption;
            break;
          case "流理臺":
            this.secondItemOption[index] = this.noOption;
            break;
          case "其他":
            this.secondItemOption[index] = this.noOption;
            break;
          default:
            break;
        }
        this.typeInfoTemp[index].secondItemSelect = this.secondItemOption[index][0];
      },
    },
    //運算
    computed: {},
    //監聽
    watch: {
      "parameter.name": function (val) {
        this.customersTemp = this.customersData.filter(
          (item) => item[0].includes(val)
        );
        if(this.customersTemp.length>0&&this.tempName!=this.parameter.name&&this.parameter.name!='')this.showName=true
      },
      "parameter.address": function (val) {
        if (this.parameter.name != "" && this.parameter.address != "")
          this.customerTemp = this.customersData.filter(
            (item) => item[0].includes(this.parameter.name) && item[1] == val
          );
      }
    },
    created() {
      let date = new Date();
      this.parameter.date = `${date.getFullYear() - 1911}_${(date.getMonth() + 1)
        .toString()
        .padStart(2, 0)}_${date.getDate().toString().padStart(2, 0)}`;
      this.year = date.getFullYear() - 1911
      this.month = date.getMonth() + 1
      this.day = date.getDate().toString().padStart(2, 0)

      if (date.getMonth() + 1 == 1 && date.getDate() == 1)
        alert("新的一年了請記得換一張新的工作表");

      this.getCustomers();

      this.secondItemOption[0] = this.stoveOption;
      this.typeInfoTemp[0].itemSelect = this.itemOption[0];
      this.typeInfoTemp[0].secondItemSelect = this.secondItemOption[0][0];

      this.resetData = JSON.parse(JSON.stringify(this.parameter))
      this.resetType = JSON.parse(JSON.stringify(this.typeInfoTemp))
    }
  });
</script>

</html>