<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>入口首頁</title>
    <!-- 載入Vue框架 -->
    <script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
    <!-- 引用Bootstrap CSS Style -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <style></style>
  </head>

  <body>
    <div id="app">
      <button @click="clickLogin">登入</button>
    </div>
  </body>
  <!-- 引用Boostrap Script -->
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
    integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
    integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
    crossorigin="anonymous"
  ></script>
  <script>
    var app = new Vue({
      //載入位置
      el: "#app",
      //資料
      data: {
        loginUri: ""
      },
      //方法
      methods: {
        clickLogin() {
          let url = "https://access.line.me/oauth2/v2.1/authorize";
          let clienId = "1656635140";
          let redirectUri = "https://taihochan.github.io/Components/line.html";
          url += "response_type=code";
          url += "&client_id=" + clienId;
          url += "&redirect_uri=" + redirectUri;
          url += "&state=login";
          url += "&scope=profile%20openid";
          console.log(url)
          this.loginUri = url;
        }
      },
      //運算
      computed: {}
    });
  </script>
</html>
