<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <!-- 載入Vue框架 -->
    <script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
    <!-- 引用Bootstrap CSS Style -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <!-- 引用FontAwesome -->
    <script src="https://kit.fontawesome.com/aaacc8f3a5.js" crossorigin="anonymous"></script>
    <style>
        body {
            background-color: rgb(83, 132, 160);
        }

        .answer,
        .puzzleGame {
            width: 49vw;
            height: 100%;
        }

        .answer img {
            width: 100%;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="option">
            <div class="input d-flex flex-nowrap justify-content-center">
                <label for="upload">選擇上傳圖檔</label>
                <input id="upload" type="file" accept="image/*" @change="showFile">
                <button class="btn btn-primary" type="button" @click="submit">上傳</button>
                <!-- <button class="btn btn-primary" type="button" @click="getImg">取得</button> -->
            </div>
            <span class="d-block w-100 text-center">拼圖大小</span>
            <div class="input d-flex flex-nowrap justify-content-center">
                <input type="number" min="3" name="xCount" id="xCount" v-model="xCount">X
                <input type="number" min="3" name="yCount" id="yCount" v-model="yCount">
            </div>
            <span class="d-block w-100 text-center">打亂次數</span>
            <div class="input d-flex flex-nowrap justify-content-center">
                <input type="number" min="1" name="randomCount" id="randomCount" v-model="randomCount">
                <button @click="clickRandom">確認</button>
                <button @click="clickRestart">重來</button>
            </div>
        </div>
        <div class="puzzleArea text-center d-flex justify-content-around">
            <div class="answer">
                <img id="answerImg" :src="imgUrl" alt="參考答案">
            </div>
            <div class="puzzleGame">
                <template v-for="(row, yIndex) in yCount">
                    <div class="rowLine d-flex">
                        <template v-for="(col, xIndex) in xCount">
                            <div @click="clickPuzzle(col,row)" class="colLine" :class="'x'+col+'y'+row"
                                :id=`x${col}y${row}` :key=`${xyCount}${yIndex}${xIndex}`>
                            </div>
                        </template>
                    </div>
                </template>
            </div>
        </div>
        <span class="d-block w-100 text-center">移動次數 : {{moveCount}}</span>
    </div>
</body>
<!-- 引用Boostrap Script -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
    integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
    integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
    crossorigin="anonymous"></script>
<script>
    var head = document.head;
    var styleElements = document.createElement('style');
    var app = new Vue({
        //載入位置
        el: '#app',
        //資料
        data: {
            imgUrl: '../Images/puzzle.webp',//圖片連結
            answerImg: document.querySelector('#answerImg'),//參考圖片
            imgWidth: 0,//圖片寬度
            imgHeigth: 0,//圖片高度
            xCount: 3,//橫向幾塊
            yCount: 3,//直向幾塊
            xyCount: false,//v-for key
            puzzlePeaceWidth: 0,//一格寬度
            puzzlePeaceHeight: 0,//一格高度
            moveEnable: false,//是否可移動
            correctPosition: [],//正確排列順序
            puzzlePosition: [],//現在拼圖排列
            puzzleWhitePos: {
                x: 0,
                y: 0
            },//白色拼圖位置
            randomCount: 0,//打亂次數
            moveCount: 0, //移動次數
            album: 'IZFmwWc', // 若要指定傳到某個相簿，就填入相簿的 ID
            token: '97e2b584680f2d73962affef32564139233ca868',
            file: null, // 準備拿 input type="file" 的值
            fs: {
                name: '', // input的圖檔名稱
                thumbnail: null, // input的圖片縮圖
                size: null // input的圖片大小
            },
        },
        //方法
        methods: {
            showFile(e) {
                this.file = e.target.files[0]; // input type="file" 的值
                this.fs.name = this.file.name; // input的圖檔名稱
                this.fs.size = Math.floor(this.file.size * 0.001) + 'KB'; // input的圖片大小
                this.fs.thumbnail = window.URL.createObjectURL(this.file); // input的圖片縮圖
                this.title = this.fs.name; // 預設 input 的圖檔名稱為圖片上傳時的圖片標題
            },
            async submit() {
                let url = 'https://api.imgur.com/3/image'
                let data = {}
                let settings = {
                    async: true,
                    method: 'POST',
                    headers: {
                        Authorization: `Bearer ${this.token}`
                    },
                    body: {}
                };

                let form = new FormData();
                form.append('image', this.file);
                form.append('title', this.title);
                form.append('description', this.des);
                form.append('album', this.album);
                settings.body = form;

                await fetch(url, settings).then(function (response) {
                    return response.json()
                }).then(function (json) {
                    console.log(json)
                    data = json.data
                }).catch(function (err) {
                    console.log(err)
                    alert('fail')
                })
                this.imgUrl = data.link
            },
            // getImg() {
            //     let url = 'https://api.imgur.com/3/album/IZFmwWc/images'

            //     let settings = {
            //         method: 'GET',
            //         headers: {
            //             Authorization: `Bearer ${this.token}`
            //         },
            //     };

            //     fetch(url, settings).then(function (response) {
            //         return response.json()
            //     }).then(function (j) {
            //         console.log(j)
            //     }).catch(function (err) {
            //         console.log(err)
            //         alert('fail')
            //     })
            // },
            //取得拼圖區塊長寬
            getPuzzleImageSize() {
                this.answerImg = document.querySelector('#answerImg');
                this.imgWidth = this.answerImg.width
                this.imgHeigth = this.answerImg.height
                this.puzzlePeaceWidth = this.imgWidth / this.xCount
                this.puzzlePeaceHeight = this.imgHeigth / this.yCount
                this.setCSS();
                this.setCorrectData();
            },
            //設定拼圖區塊樣式
            setCSS() {
                this.puzzleWhitePos.x = this.xCount - 1
                this.puzzleWhitePos.y = this.yCount - 1
                styleElements.innerHTML = ''
                for (let y = 1; y <= this.yCount; y++) {
                    for (let x = 1; x <= this.xCount; x++) {
                        if (y == this.yCount && x == this.xCount) {
                            styleElements.innerHTML += `.x${x}y${y}{
                                width:${this.puzzlePeaceWidth}px; 
                                height:${this.puzzlePeaceHeight}px; 
                                margin: 0.5px;
                            }`
                        } else {
                            styleElements.innerHTML += `.x${x}y${y}{
                                background-image: url('${this.imgUrl}');
                                margin: 0.5px;
                                background-Size:${this.answerImg.width}px ${this.answerImg.height}px;
                                background-repeat:no-repeat; 
                                width:${this.puzzlePeaceWidth}px; 
                                height:${this.puzzlePeaceHeight}px; 
                                background-Position:-${(x - 1) * this.puzzlePeaceWidth}px -${(y - 1) * this.puzzlePeaceHeight}px
                            }`
                        }
                    }
                }
            },
            // 設定正確拼圖順序的陣列
            setCorrectData() {
                let rowTemp = new Array();
                for (let y = 1; y <= this.yCount; y++) {
                    let colTemp = new Array();
                    for (let x = 1; x <= this.xCount; x++) {
                        colTemp.push(`x${x}y${y}`)
                    }
                    rowTemp.push(colTemp)
                }
                this.correctPosition = rowTemp
                this.puzzlePosition = JSON.parse(JSON.stringify(this.correctPosition))
            },
            //確認打亂
            clickRandom() {
                let lastRandom = "";

                for (let count = 1; count <= this.randomCount; count++) {
                    let randomPos = []
                    let nowRandom = 0

                    do {
                        randomPos = this.getRandom();
                        nowRandom = Math.floor(Math.random() * randomPos.length)
                    } while (lastRandom == randomPos[nowRandom].class)
                    lastRandom = randomPos[nowRandom].class
                    this.checkMove(randomPos[nowRandom].x, randomPos[nowRandom].y)
                }
            },
            //取得可打亂位置
            getRandom() {
                let randomPos = new Array();
                let x = this.puzzleWhitePos.x
                let y = this.puzzleWhitePos.y

                for (let i = 1; i <= 4; i++) {
                    switch (i) {
                        case 1://上方
                            if (y - 1 >= 0) {
                                randomPos.push({ x: x, y: y - 1, class: this.puzzlePosition[y - 1][x] })
                            }
                            break
                        case 2://下方
                            if (y + 1 < this.yCount) {
                                randomPos.push({ x: x, y: y + 1, class: this.puzzlePosition[y + 1][x] })
                            }
                            break
                        case 3://左方
                            if (x - 1 >= 0) {
                                randomPos.push({ x: x - 1, y: y, class: this.puzzlePosition[y][x - 1] })
                            }
                            break
                        case 4://右方
                            if (x + 1 < this.xCount) {
                                randomPos.push({ x: x + 1, y: y, class: this.puzzlePosition[y][x + 1] })
                            }
                            break
                        default:
                            break
                    }
                }
                return randomPos
            },
            //觸發點擊事件
            clickPuzzle(x, y) {
                if (this.checkMove(x - 1, y - 1)) {
                    this.moveCount++
                    if (this.checkWin()) alert('win')
                }
            },
            //檢查點擊是否可移動
            checkMove(x, y) {
                //y軸相減為1且x軸相減為0代表在正上方或正下方, 可以交換
                if (Math.abs(this.puzzleWhitePos.y - y) == 1 && this.puzzleWhitePos.x - x == 0) {
                    this.movingPuzzle(x, y)
                    return true
                }
                //x軸相減為1且y軸相減為0代表在左邊或右邊, 可以交換
                if (Math.abs(this.puzzleWhitePos.x - x) == 1 && this.puzzleWhitePos.y - y == 0) {
                    this.movingPuzzle(x, y)
                    return true
                }
            },
            //移動拼圖
            movingPuzzle(x, y) {
                //用class名稱去抓取白色區塊
                let white = document.querySelector(`.x${this.xCount}y${this.yCount}`)
                //用id去抓取點擊位置的區塊(className會交換, id是固定的)
                let change = document.querySelector(`#x${x + 1}y${y + 1}`)

                white.classList.remove(white.classList[1])
                white.classList.add(`${this.puzzlePosition[y][x]}`)
                change.classList.remove(change.classList[1])
                change.classList.add(`x${this.xCount}y${this.yCount}`)

                let temp = this.puzzlePosition[y][x]
                //紀錄最新的拼圖className位置, 方便撈取替換
                this.puzzlePosition[y][x] = this.puzzlePosition[this.puzzleWhitePos.y][this.puzzleWhitePos.x]
                this.puzzlePosition[this.puzzleWhitePos.y][this.puzzleWhitePos.x] = temp

                //紀錄現在白色區塊位置
                this.puzzleWhitePos.x = x
                this.puzzleWhitePos.y = y
            },
            //檢查是否拚完, 利用正確的陣列跟當前拼圖陣列比對
            checkWin() {
                let result = true

                for (let y = 0; y < this.yCount; y++) {
                    for (let x = 0; x < this.xCount; x++) {
                        if (this.puzzlePosition[y][x] != this.correctPosition[y][x]) {
                            result = false
                        }
                    }
                }

                return result
            },
            clickRestart() {
                this.xyCount = !this.xyCount
                this.moveCount = 0
                this.getPuzzleImageSize()
            }
        },
        //運算
        computed: {
        },
        //監聽
        watch: {
            xCount: function (value) {
                this.xCount = parseInt(value)
                this.xyCount = `${this.yCount}${this.xCount}`
                this.getPuzzleImageSize()
            },
            yCount: function (value) {
                this.yCount = Number(value)
                this.xyCount = `${this.yCount}${this.xCount}`
                this.getPuzzleImageSize()
            },
            imgUrl: function (value) {
                console.log('imgUrl : ', value)
                this.getPuzzleImageSize()
            }

        },
        created() {

        },
        mounted() {
            this.answerImg = document.querySelector('#answerImg');
            this.imgWidth = this.answerImg.width
            this.imgHeigth = this.answerImg.height
            this.puzzlePeaceWidth = this.imgWidth / this.xCount
            this.puzzlePeaceHeight = this.imgHeigth / this.yCount
            this.setCSS()
            this.setCorrectData();
            this.puzzlePosition = JSON.parse(JSON.stringify(this.correctPosition))
            head.append(styleElements)

            window.onresize = () => {
                this.getPuzzleImageSize();
            }



        }
    })
</script>

</html>